.sprotty-node.class {
  fill: #c0e0fc;
  stroke: #444;
  stroke-width: 1;
}

.sprotty-node.association {
  fill: #c0e0fc;
  stroke: #444;
  stroke-width: 1;
}

text {
  stroke-width: 0;
  stroke: #000;
  fill: #000;
  font-family: sans-serif;
  font-size: 10pt;
  text-anchor: middle;
}
